body {
    background-color: hsl(196, 20%, 69%);
    display: flex;
    flex-direction: column;
}

* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: hsl(196, 50%, 69%);
    border-radius: 16px;
    box-sizing: border-box;
    padding: 1rem;
    gap: 5rem;
}

header,
.logo,
form {
    display: flex;
    align-items: center;
}

search {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.logo,
form {
    gap: 1rem;
}

search img {
    width: 32px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

input {
    background-color: hsl(196, 70%, 69%);
    border: 4px solid hsl(196, 80%, 69%);
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
}

input:focus {
    outline: none;
}

img {
    width: 40px;
}

img,
.card {
    aspect-ratio: 1;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
}

.condition-icon {
    width: 150px;
}

.card {
    width: 90vw;
    height: 50vh;
    background-color: hsl(196, 50%, 69%);
    margin: 1rem;
    padding: 1rem;
    border-radius: 32px;
    box-shadow: 0 0 10px hsl(0, 0%, 50%);
}

.card-header {
    display: grid;
    grid-template-columns: 150px auto;
    gap: 8rem;
}

.error.active {
    display: block;
    font-size: 1rem;
    border: 2px solid red;
    padding: 0 0.25rem;
    font-weight: 700;
    background-color: rgb(255, 161, 161);
    border-radius: 4px;
    box-sizing: border-box;
}

.right h1 {
    font-size: 1.8rem;
}

.right h2 {
    font-weight: 350;
}

.right {
    display: flex;
    flex-direction: column;
}

#feelslike::before {
    content: "Feels like: ";
}

#temp::before {
    content: "Temp: ";
}

.temp::after {
    content: "°";
}
